* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#root {
    height: 100vh;
}

/* sizing of map container */
#map {
    height: 100vh;
    position: relative;
}

tile-layer {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}


#location-button-item {
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    background-color: transparent;
    border: none;
    fill: transparent;
}

#location-button {
    z-index: 1001;
}